body
{
	text-align:center;
	font-family: sans-serif;
}

#name
{
	font-weight: bold;
}

#card
{
	border: 5px solid black;
	border-radius: 5px;
	width: 50%;
	
	display: none;
	
	padding: 5px;
	text-align: left;
}

button
{
	position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}